* {
	margin: 0;
	font-family: 'Work Sans';
	font-size: 18px;
}

/* Header Elements  */

header {
	min-height: 4em;
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: #2b2d42 0.5px solid;
	position: fixed;
	top: 0;
	width: 100vw;
}

header a:hover {
	color: #969696;
}

.header-logo {
	display: none;
}

header a {
	text-decoration: none;
	color: white;
}

header li {
	float: left;
	margin: 1em;
	list-style: none;
}

.slider {
	display: none;
}

.open-button {
	display: none;
}

.taskade-logo {
	width: 12em;
}

.header-items {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.login-button {
	background-color: black;
	padding: 8px;
	border-radius: 8px;
	border-width: 1px;
	border-color: white;
	width: 110px;
	color: white;
	cursor: pointer;
	margin: 5px;
}

.sign-up-button {
	background-color: rgb(239, 197, 10);
	padding: 8px;
	border-radius: 8px;
	border-width: 0;
	width: 110px;
	color: black;
	margin: 5px;
	cursor: pointer;
}

.sign-up-button a {
	text-decoration: none;
	color: black;
}

.sign-up-button a:hover {
	text-decoration: none;
	color: black;
}

.login-button:hover {
	background-color: rgb(239, 197, 10);
	color: black;
	border: none;
}

.sign-up-button:hover {
	background-color: #ffca3a;
}

/* Dropdown menu  */

.dropdown-content {
	display: none;
	position: fixed;
	top: auto;
	left: auto;
	background-color: black;
	min-width: 10em;
	z-index: 3;
}

.dropdown-content p {
	line-height: 200%;
	padding: 5px;
}

.dropdown:hover .dropdown-content {
	display: block;
	color: white;
}

.dropdown:hover a {
	color: #969696;
}

.dropdown:hover p:hover {
	cursor: pointer;
	color: #969696;
}

.dropdown:hover .fa-solid {
	transform: rotate(180deg);
}

/* Section Top */

.body-container-1 {
	background-color: black;
	padding: 6em;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.body-text-container-1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

.gradient-text {
	font-size: 52px;
	background-image: linear-gradient(90deg, #e3142e, #00d4ff);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.heading-1 {
	font-size: 52px;
	font-weight: bolder;
	width: 30vw;
	margin-bottom: 0.5em;
}

.body-image-1 {
	width: 45vw;
}

.para-1 {
	font-size: 18px;
	width: 30vw;
	line-height: 180%;
}

.email-container {
	margin-top: 3em;
	width: 30vw;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	background-color: #212529;
	border-radius: 30px;
}

.email {
	background: transparent;
	border: none;
	height: 45px;
	margin-left: 10px;
	color: #84a98c;
}

.subscribe-button {
	background-color: #ffca3a;
	padding: 15px;
	border-radius: 30px;
	border-width: 0;
	width: 150px;
	font-size: 14px;
	color: black;
	margin: 5px;
	cursor: pointer;
}

.subscribe-button:hover {
	background-color: rgb(239, 197, 10);
}

.fa-solid {
	color: grey;
	margin-left: 15px;
}

/* Get Taskade Section  */

.get-taskade {
	background-color: black;
	padding: 10em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.taskade-icons {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5em;
	background-color: #0f1112;
	justify-content: center;
	color: white;
	border-radius: 20px;
}

.three-div-mobile {
	display: none;
}

.three-div-pc {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.get-taskade-icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	margin: 1em;
}

.icon-description {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	cursor: pointer;
}

.icon-description h3 {
	font-size: 14px;
	margin-top: 5px;
	color: #adb5bd;
	text-align: center;
}

.icon-description h3:hover {
	color: white;
	background-color: transparent;
}

.icon-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: #242627;
	border-radius: 10px;
}

.icon-description :hover {
	background-color: #ba181b;
}

.icon {
	width: 50px;
}

/* What we do  */

.what-we-do {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}

.what-we-do-heading {
	text-align: center;
	color: white;
	padding: 10px;
	border: #2b2d42 1px solid;
	border-radius: 10px;
	width: 150px;
	margin: 1em;
}

.what-we-do-heading h1 {
	font-size: 15px;
}

.buttons-holder-row {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 1em;
}

.buttons-holder {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	line-height: 200%;
	margin: 2em;
}

.buttons-mobile {
	display: none;
}

.button-icon-holder {
	height: 70px;
	width: 70px;
	background-color: #333533;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
	cursor: pointer;
}

.button-icon-holder:hover {
	background-color: #ba181b;
}

.gradient-what-we-do {
	font-size: 50px;
	background-image: linear-gradient(90deg, #e3142e, #00d4ff);
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
}

.heading-what-we-do {
	font-size: 50px;
	font-weight: bolder;
}

.what-we-do-image-holder {
	display: flex;
	justify-content: center;
	padding: 15px;
}

#brainstorm {
	width: 70vw;
}

#manage {
	width: 70vw;
	display: none;
}

#work {
	width: 70vw;
	display: none;
}

/* share tasks  */

.share-tasks {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7em;
	background-color: black;
	color: white;
	margin-top: -3em;
}

.share-tasks-text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 20px;
	width: 50vw;
	margin-left: 20px;
	margin-right: 20px;
}

.share-tasks-image {
	width: 50vw;
	margin-left: 20px;
	margin-right: 20px;
}

.share-task-image-size {
	margin: 20px;
	width: 40vw;
}

.share-task-heading-1 {
	font-size: 50px;
	font-weight: bolder;
	margin-bottom: 0.5em;
}

.share-task-heading {
	text-align: center;
	color: white;
	padding: 6px;
	border: #2b2d42 1px solid;
	border-radius: 20px;
	width: 90px;
	margin-bottom: 0.5em;
}

.share-para {
	width: 30vw;
	line-height: 150%;
	color: #cad2c5;
}

.live-demo {
	background-color: black;
	padding: 8px;
	border-radius: 8px;
	border-width: 1px;
	border-color: white;
	width: 150px;
	color: white;
	cursor: pointer;
	margin-top: 25px;
}

.live-demo:hover {
	background-color: rgb(239, 197, 10);
	border-color: rgb(239, 197, 10);
	color: black;
}

.footer {
	border-top: #2b2d42 0.5px solid;
	display: flex;
	justify-content: space-around;
	padding: 20px;
	align-items: center;
	min-height: 70px;
	background-color: black;
}

.footer-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: black;
	color: white;
	padding: 8px;
}

.footer-left h1 {
	font-size: 16px;
	color: grey;
	line-height: 150%;
}

.footer-left h3 {
	font-size: 12px;
	color: grey;
	line-height: 150%;
}

.footer-icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.pad {
	padding: 8px;
}

.social-icon:hover {
	cursor: pointer;
	fill: white;
}

/* Sign up section  */

.sign-up-body {
	background-color: #000000;
}

.sign-up {
	background-color: #000000;
	padding: 7em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sign-up-container {
	background-color: #17191c;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
}

.sign-up-container h1 {
	color: white;
	font-weight: bold;
	font-size: 36px;
	padding: 5px;
}

.sign-up-container h2 {
	color: #8f959a;
	padding: 5px;
}

.sign-up-top {
	background-color: #25282d;
	color: white;
	border-radius: 10px;
	padding: 10px;
	border-width: 0px;
	margin: 5px;
	cursor: pointer;
	width: 100%;
}

.sign-up-top a {
    text-decoration: none;
    color: white;
}

.sign-up-container form input {
	background-color: #17191c;
	height: 20px;
	padding: 5px;
	border: #777d82 1px solid;
	border-radius: 5px;
	margin: 5px;
	color: white;
}

.sign-up-container form label {
	color: white;
}

.sign-up-container form a {
	color: white;
}

.form p {
	color: red;
	width: 450px;
}

.textinput {
	width: 450px;
}

.checkbox-1 {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sign-up-bottom {
	background-color: #ff2d60;
	color: white;
	border-radius: 10px;
	padding: 10px;
	border-width: 0px;
	margin: 5px;
	cursor: pointer;
	width: 100%;
}

.reset {
    background-color: #25282d;
	color: white;
	border-radius: 10px;
	padding: 10px;
	border-width: 0px;
	margin: 5px;
	margin-left: 15px;
	cursor: pointer;
	width: 100%;
}

.sign-up-bottom:hover {
	filter: brightness(150%);
}

.signup-logo {
	width: 50px;
	padding: 5px;
	cursor: pointer;
}

#success {
	color: green;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

/* Dashboard  */

.dashboard {
	background-color: black;
	color: white;
	margin: 0;
	font-family: 'Work Sans';
}

.one {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	flex-wrap: wrap;
	padding: 10px;
}

.dash-heading {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	padding: 20px;
}

.product-card-container {
	width: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	box-shadow: 0 0 4px 3px gray;
	text-align: center;
	margin-bottom: 1em;
	background-color: #111110;
	border-radius: 20px;
	margin: 20px;
}

.description {
	font-size: 16px;
	color: #b7b7b7;
	padding: 5px;
	width: fit-content;
}

.category {
	color: #219ebc;
	font-size: 18px;
	padding: 5px;
}

.price {
	font-size: 22px;
	color: rgb(239, 197, 10);
	font-weight: bold;
	font-family: 'Alfa Slab One';
	padding: 5px;
}

.price:hover {
	color: #ff006e;
	cursor: pointer;
}

.product-title {
	font-size: 20px;
	padding: 10px;
}

.product-title:hover {
	cursor: pointer;
	color: #8d99ae;
}

.product-image {
	width: 85%;
	border-radius: 15px;
	margin: auto;
	margin-top: 10px;
}

.rating {
	background-color: rgb(239, 197, 10);
	padding: 8px;
	border-radius: 8px;
	border-width: 0;
	width: 90%;
	color: black;
	margin: 5px;
	cursor: pointer;
}

.rating span {
	color: #540b0e;
	font-size: 14px;
}

#offers {
	display: none;
	text-align: center;
	width: 450px;
}

#offers h1 {
	font-size: 25px;
}

.view-store-button {
	background-color: rgb(239, 197, 10);
	padding: 8px;
	border-radius: 8px;
	border-width: 0;
	width: 200px;
	color: black;
	margin: 5px;
	cursor: pointer;
}

.loader {
	border: 16px solid #2f3e46;
	border-top: 16px solid #e3142e;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 1000px) {
	header {
		min-height: 3em;
		justify-content: center;
	}

	header div {
		display: none;
	}

	.header-items {
		display: none;
	}

	.header-logo {
		display: block;
		width: 50px;
		padding: 5px;
		cursor: pointer;
	}

	.open-button {
		display: block;
		color: #5f5f5f;
		position: absolute;
		right: 10px;
	}

    .open-button:hover {
        color: white;
    }

	.slider {
		display: block;
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: black;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 80px;
	}

	.sign-up-container {
		width: 90vw;
	}

	.form p {
		width: 85vw;
		text-align: left;
		padding: 5px;
	}

	.textinput {
		width: 85vw;
	}

	.slider p {
		color: #999999;
		padding: 15px;
		margin-left: 25px;
		font-size: 18px;
        text-align: left;
	}

    .slider p:hover {
        color: white;
        cursor: pointer;
    }

	.slider a {
		text-decoration: none;
		color: #999999;
	}

	.slider a:hover {
		color: white;
	}

	.close {
		position: absolute;
		right: 20px;
		top: 20px;
	}

	.body-container-1 {
		flex-direction: column;
		justify-content: center;
	}

	.body-text-container-1 {
		width: 99vw;
	}

	.gradient-text {
		font-size: 44px;
	}

	.heading-1 {
		font-size: 44px;
		width: 80vw;
		text-align: center;
	}

	.body-image-1 {
		width: 90vw;
		margin-top: 2em;
	}

	.para-1 {
		width: 80vw;
		text-align: center;
	}

	.email-container {
		width: 90vw;
	}

	.subscribe-button {
		width: 120px;
	}

	.fa-solid {
		color: grey;
		margin-left: 5px;
	}

	.get-taskade {
		padding: 5em;
	}

	.taskade-icons {
		padding: 2.5em;
	}

	.taskade-icons h1 {
		font-size: 14px;
	}

	.get-taskade-icon-container {
		flex-direction: column;
		border-radius: 15px;
		margin: 0em;
		flex-wrap: wrap;
		margin: auto;
	}

	.icon-description h3 {
		font-size: 0.6em;
	}

	.sign-up-container h2 {
        font-size: 15px;
    }

	.three-div-mobile {
		display: block;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		margin: auto;
	}

	.three-div {
		display: flex;
		justify-content: center;
	}

	.three-div-pc {
		display: none;
	}

	.what-we-do {
		background-color: black;
	}

	.heading-what-we-do {
		font-size: 40px;
		font-weight: bolder;
		text-align: center;
		width: 85vw;
	}

	.gradient-what-we-do {
		font-size: 40px;
		background-clip: text;
		-webkit-background-clip: text;
	}

	.buttons-holder {
		display: none;
	}

	.buttons-mobile {
		display: block;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.buttons-holder-mobile {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 10px;
	}

	.what-we-do-text-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.what-we-do-text-container h1,
	p {
		text-align: center;
		line-height: 150%;
	}

	#div-1 {
		display: block;
		width: 90vw;
	}

	#div-2 {
		display: none;
		width: 90vw;
	}

	#div-3 {
		display: none;
		width: 90vw;
	}

	#brainstorm {
		width: 85vw;
	}

	#manage {
		width: 85vw;
		display: none;
	}

	#work {
		width: 85vw;
		display: none;
	}

	.button-icon-holder {
		margin: 20px;
	}

	.share-tasks {
		flex-direction: column;
		padding: 0px;
		background-color: black;
		color: white;
		margin-top: 0px;
	}

	.share-tasks-text {
		align-items: center;
		margin: 20px;
		margin: auto;
		margin-top: 2em;
		margin-left: auto;
		margin-bottom: 2em;
	}

	.share-para {
		width: 90vw;
		text-align: center;
	}

	.share-task-heading-1 {
		text-align: center;
		font-size: 38px;
		width: 90vw;
	}

	.share-tasks-image {
		width: 100vw;
		margin: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 2em;
	}

	.share-task-image-size {
		width: 90vw;
		margin: 0px;
	}

	.middle .share-tasks-image {
		order: 2;
	}

	.gradient-what-we-do {
		font-size: 38px;
		background-clip: text;
		-webkit-background-clip: text;
	}

	.footer {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0px;
		margin-left: 0em;
	}

	.footer-icon-container {
		margin: 0px;
		order: 1;
	}

	.footer-left {
		justify-content: center;
		align-items: center;
		margin: 0px;
		order: 2;
	}

	.email-container {
		width: 85vw;
		margin: 0px;
		margin-top: 3em;
	}

	.email {
		width: 150px;
		margin-left: 0px;
	}

	.subscribe-button {
		width: 9em;
		font-size: 14px;
		margin-left: auto;
		cursor: pointer;
	}

	.fa-solid {
		color: grey;
		margin-left: 20px;
	}

	/* dashboard  */

	.product-card-container {
		width: 40vw;
		overflow-x: hidden;
	}

	.description {
		width: fit-content;
	}

	.product-card-container p {
		width: 90%;
	}
}

@media only screen and (max-width: 500px) {
	.body-container-1 {
		flex-direction: column;
		justify-content: center;
		padding: 0px;
		height: 140vh;
		margin-bottom: -6em;
		margin-top: 0em;
	}

	.footer {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0px;
		margin-left: 0em;
	}

	.product-card-container {
		width: 90vw;
	}

	#offers {
		width: 90vw;
	}

}
